name: Build and Release OpenUSD with OpenSubdiv and oneTBB

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-22.04

    env:
      OPENSUBDIV_VERSION: v3_7_0
      OPENUSD_VERSION: v25.11
      TBB_VERSION: 2021.12.0
      DIST_FOLDER: openusd-minimal-25.11

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'  # Specify your desired version

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake build-essential wget git

      - name: Build
        run: |
          python build.py

      # - name: Download oneTBB binaries
      #   run: |
      #     wget https://github.com/oneapi-src/oneTBB/releases/download/v${TBB_VERSION}/oneapi-tbb-${TBB_VERSION}-lin.tgz
      #     tar xzf oneapi-tbb-${TBB_VERSION}-lin.tgz
      #     mkdir -p $GITHUB_WORKSPACE/$DIST_FOLDER/
      #     mv oneapi-tbb-${TBB_VERSION}/include $GITHUB_WORKSPACE/$DIST_FOLDER/
      #     mv oneapi-tbb-${TBB_VERSION}/lib $GITHUB_WORKSPACE/$DIST_FOLDER/

      # - name: Clone OpenSubdiv
      #   run: |
      #     git clone --branch ${OPENSUBDIV_VERSION} https://github.com/PixarAnimationStudios/OpenSubdiv.git
      #     mkdir OpenSubdiv/build
      #     cd OpenSubdiv/build
      #     cmake -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/$DIST_FOLDER/ .. \
      #       -DBUILD_SHARED_LIBS=OFF \
      #       -DNO_EXAMPLES=1       \
      #       -DNO_TUTORIALS=1      \
      #       -DNO_REGRESSION=1     \
      #       -DNO_PTEX=1           \
      #       -DNO_DOC=1            \
      #       -DNO_OMP=1            \
      #       -DNO_TBB=1            \
      #       -DNO_CUDA=1           \
      #       -DNO_OPENCL=1         \
      #       -DNO_CLEW=1           \
      #       -DNO_OPENGL=1         \
      #       -DNO_METAL=1      
      #     cmake --build . --config Release --target install

      # - name: Clone OpenUSD
      #   run: |
      #     git clone --branch $OPENUSD_VERSION https://github.com/PixarAnimationStudios/OpenUSD.git

      # - name: Build OpenUSD
      #   run: |
      #     mkdir OpenUSD/build
      #     cd OpenUSD/build
      #     cmake .. \
      #       -DCMAKE_PREFIX_PATH=$GITHUB_WORKSPACE/$DIST_FOLDER \
      #       -DPXR_ENABLE_PYTHON_SUPPORT=OFF \
      #       -DPXR_ENABLE_IMAGING_SUPPORT=OFF \
      #       -DPXR_ENABLE_GL_SUPPORT=OFF \
      #       -DPXR_ENABLE_VULKAN_SUPPORT=OFF \
      #       -DPXR_ENABLE_METAL_SUPPORT=OFF \
      #       -DPXR_ENABLE_MATERIALX_SUPPORT=OFF \
      #       -DPXR_ENABLE_OSL_SUPPORT=OFF \
      #       -DPXR_BUILD_DOCUMENTATION=OFF \
      #       -DPXR_BUILD_TESTS=OFF \
      #       -DPXR_BUILD_TUTORIALS=OFF \
      #       -DPXR_BUILD_EXAMPLES=OFF \
      #       -DPXR_BUILD_USD_TOOLS=OFF \
      #       -DPXR_BUILD_IMAGING=OFF \
      #       -DPXR_BUILD_USD_IMAGING=OFF \
      #       -DBUILD_SHARED_LIBS=OFF \
      #       -DPXR_BUILD_MONOLITHIC=ON \
      #       -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/$DIST_FOLDER
      #     cmake --build . --config Release --target install

      - name: Archive built binaries
        run: |
          cd $GITHUB_WORKSPACE/build
          tar czf openusd-minimal-${{ github.ref_name }}.tar.gz $DIST_FOLDER

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: $GITHUB_WORKSPACE/build/openusd-minimal-${{ github.ref_name }}.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}

