name: Build and Release OpenUSD with OpenSubdiv and oneTBB

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-22.04

    env:
      OPENSUBDIV_VERSION: v3_7_0
      OPENUSD_VERSION: v25.11
      TBB_VERSION: 2021.12.0
      DIST_FOLDER: openusd-minimal-25.11

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'  # Specify your desired version

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake build-essential wget git patchelf

      - name: Build
        run: |
          python build.py

      - name: Archive built binaries
        run: |
          cd $GITHUB_WORKSPACE/build
          tar czf ../openusd-minimal-${{ github.ref_name }}.tar.gz $DIST_FOLDER

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: openusd-minimal-${{ github.ref_name }}.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}

