name: Build and Release OpenUSD with OpenSubdiv and oneTBB

on:
  push:
    tags:
      - 'v*'

jobs:
  build-release:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        OPENUSD_VERSION: [v25.11, v25.08]

    env:
      OPENSUBDIV_VERSION: v3_7_0
      TBB_VERSION: 2021.12.0

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake build-essential wget git patchelf

      - name: Set dist folder
        run: echo "DIST_FOLDER=openusd-minimal-${{ matrix.OPENUSD_VERSION }}" >> $GITHUB_ENV

      - name: Build Release
        run: |
          python build.py ${{ matrix.OPENUSD_VERSION }}
          cd $GITHUB_WORKSPACE/build
          tar czf ../openusd-minimal-separate-release-${{ matrix.OPENUSD_VERSION }}.tar.gz $DIST_FOLDER
          cd ..
          rm -rf $GITHUB_WORKSPACE/build
        env:
          OPENUSD_VERSION: ${{ matrix.OPENUSD_VERSION }}

      - name: Build Release Monolithic
        run: |
          python build.py ${{ matrix.OPENUSD_VERSION }} --monolithic
          cd $GITHUB_WORKSPACE/build
          tar czf ../openusd-minimal-monolithic-release-${{ matrix.OPENUSD_VERSION }}.tar.gz $DIST_FOLDER
          cd ..
          rm -rf $GITHUB_WORKSPACE/build
        env:
          OPENUSD_VERSION: ${{ matrix.OPENUSD_VERSION }}

      - name: Build Debug
        run: |
          python build.py ${{ matrix.OPENUSD_VERSION }} --debug
          cd $GITHUB_WORKSPACE/build
          tar czf ../openusd-minimal-separate-debug-${{ matrix.OPENUSD_VERSION }}.tar.gz $DIST_FOLDER
          cd ..
          rm -rf $GITHUB_WORKSPACE/build
        env:
          OPENUSD_VERSION: ${{ matrix.OPENUSD_VERSION }}

      - name: Build Debug Monolithic
        run: |
          python build.py ${{ matrix.OPENUSD_VERSION }} --debug --monolithic
          cd $GITHUB_WORKSPACE/build
          tar czf ../openusd-minimal-monolithic-debug-${{ matrix.OPENUSD_VERSION }}.tar.gz $DIST_FOLDER
          cd ..
          rm -rf $GITHUB_WORKSPACE/build
        env:
          OPENUSD_VERSION: ${{ matrix.OPENUSD_VERSION }}

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            openusd-minimal-separate-release-${{ matrix.OPENUSD_VERSION }}.tar.gz
            openusd-minimal-separate-debug-${{ matrix.OPENUSD_VERSION }}.tar.gz
            openusd-minimal-monolithic-release-${{ matrix.OPENUSD_VERSION }}.tar.gz
            openusd-minimal-monolithic-debug-${{ matrix.OPENUSD_VERSION }}.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
